#wrapper {
    margin-left:auto;
    margin-right:auto;
    padding: 0px;
    width:1280px;
    height:1024px;
}
#navBar {
    
}
ul {
    list-style-type:none;
    margin:0px auto;
    padding:0px;
    height:auto;
    width:1280px;
}
li {
    display: block;
    float: left;
    height: auto;
    width: auto;
    font-family: 'OCR A Extended';
    font-size: 22px;
}
body {
    background-color:#3B403C;
    color:white;
}
